body {
    background-color: #c7dfc6;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 0 auto;
}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.profile-pic {
    width: 25%;
    float: left;
    margin: 0 10px 10px 0;
}

a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #555555;
}

.home-link {
    float: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100%
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
        width: 100%
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 70%
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        width: 60%
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 50%;
    }
}