/* :root {
    --lightest-color: #FFFFFF;
    --light-color: #c7dfc6;
    --dark-color: #999999;
    --darkest-color: #555555;
} */

:root {
    --lightest-color: #E8E8E8;
    --neutral-bg-color: #c7b8c7;
    --background-color: #564256;
    --highlight-color: #FC814A;
    --text-color: #555555;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: var(--lightest-color);
    padding: 20px;
    margin: 0 auto;
}

.wrapper::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
 }

#header {
    padding: 20px 20px 0 20px;
}

.sidebar {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-color: var(--neutral-bg-color);
}

.gallery-image {
    width: 30%;
}

.profile-pic {
    width: 25%;
    float: left;
    margin: 0 10px 10px 0;
    border-style: solid;
    border-width: 3px;
    border-color: var(--highlight-color);
}

.header-image {
    width: 100%;
}

.banner-image {
    width: 100%;
}

.main-logo {
    margin: auto 0;
    background-color: var(--lightest-color);
}

a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: var(--highlight-color);
}

.home-link {
    float: right;
}

.colordisplay {
    display: inline-block;
    height: 20px;
    width: 20px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100%
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
        width: 100%
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 70%
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        width: 60%
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 50%;
    }
}